opencv-python==4.9.0.80
mediapipe==0.10.9
tensorflow
numpy
Pillow
python-vlc
flask
flask-socketio
playsound
os
dlib
eventlet==0.33.3
flask-cors==4.0.0
dlib==19.24.2
numpy==1.26.4
python-dotenv==1.0.1
psutil==5.9.8
matplotlib==3.8.2
